<header class="site-header">
    
    <div id="header">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <div id="links">
            <a href="https://www.goodreads.com/user/show/694406-minyoung" data-caption="goodreads">{% icon fa-book fa-lg %}</a>
            <a href="{{ '/feed.xml' | prepend: site.baseurl }}" data-caption="rss">{% icon fa-rss-square fa-lg %}</a>
            <a href="{{ '/about/' | prepend: site.baseurl }}" data-caption="about">{% icon fa-info-circle fa-lg %}</a>
        </div>
    </div>

</header>
